<div class="col-3 card">
  <div class="card-body">
    <a href="#" class="btn btn-primary p-3">Tech I love</a>
    <p class="card-text mt-3">
      Imogen Waters
      10/22/22
    </p>
  </div>
</div>