<div class="col-3 card">
  <div class="card-body">
    <a href="/post/{{id}}" class="blog-title btn btn-primary p-3">{{title}}</a>
    <p class="card-text mt-3">
      {{name}}
      {{date_created}}
    </p>
  </div>
</div>