<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../public/css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <title>Programming Blog</title>
</head>

<body>
<!-- Header -->
  <header class="header text ">
    <p id="header-welcome">Welcome to</p>
    <p id="programming-blog">Programming Blog</p>
    <nav>
      <ul>
        <li><a>Home</a></li>
        <li><a>Dashboard</a></li>
        <li><a>Login</a></li>
      </ul>
    </nav>
    <hr>
  </header>

  {{{ body }}}

  </body>

</html>