<!-- Viewing a post Read/Comment/Update/Delete -->

  <!-- If this is the users's post then display update, delete buttons, display contenteditable-->
  <div class="container-fluid">
    <!-- Title with update & delete buttons-->
    <div class="row">
      <p class="col-4">Imogen Waters 10/22/22</p>
      <a href="#" class="btn btn-primary col-4">Title</a>
      <a href="#" class="btn btn-primary col-2">Update</a>
      <a href="#" class="btn btn-primary col-2">Delete</a>
    </div>
  
    <div class="row">
      <div class="col text-start">
        <p contenteditable="true"> 
          Lorem ipsum dolor sit amet, etiam oportere ei duo, vim no elit etiam vivendum. Sale justo ei eam, pri an agam invidunt, 
          ad oratio eripuit explicari vim. Delenit nonumes sententiae ne his, mel ipsum dicant ut. Ei diam interpretaris duo, 
          his quando nonumes recusabo id, reque singulis est id. Tale labores an pri, te elit nobis mei.
        </p>
      </div>
    </div>

    <div class="row">
      <form>
        <input type="text" id="comment-form" name="comment-form"><br><br>
        <a href="#" class="btn btn-primary col-2">Comment</a>
      </form>
    </div>
  </div>