<!-- Viewing a certain post -->
<!-- If this is the users's post then display update, delete buttons, display contenteditable-->
<div class="container-fluid">
  <div class="row d-flex-row align-items-center justify-content-around mt-4 mb-4">
    <div class="col-4 d-flex flex-column align-items-center">
      <p class="text-center">{{name}}</p>
    </div>
    <a href="/post/{{id}}" class="btn btn-primary col-4 fs-1">{{title}}</a>
    <div class="col-4 d-flex justify-content-around">
      <!-- only be able to edit the post if it is your post -->
      {{!-- {{#if user_id}} --}}
      <a id="update-btn" href="#" class="btn btn-primary col-2">Update</a>
      <a id="delete-btn" href="#" class="btn btn-primary col-2">Delete</a>
      {{!-- {{/if}} --}}
    </div>
  </div>
  <div class="row mt-4 mb-4">
    <div class="col d-flex flex-column align-items-center justify-content-center">
      <p id="blog-content" class="w-75">
        {{content}}
      </p>
    </div>
  </div>
  <div class="row">
    <form class="d-flex flex-column align-items-center justify-content-center">
      <input type="text" id="comment-form" name="comment-form" class="w-75 p-2"><br>
      <a href="#" class="btn btn-primary col-2">Comment</a>
    </form>
  </div>
</div>