<!-- Login & Sign up Page -->
<div class="container">
  <div class="row">

    <!-- Login Form-->
    <form class="col-6">
      <h2>Login!</h2>
      <div class="mb-3">
        <label for="email-login" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email-login">
      </div>
      <div class="mb-3">
        <label for="password-login" class="form-label">Password</label>
        <input type="password" class="form-control" id="password-login">
      </div>
      <button id="login-btn" class="btn btn-primary">Log in</button>
    </form>

    <!-- Sign up Form -->
    <form class="col-6">
      <h2>Sign up!</h2>
      <div class="mb-3">
        <label for="username-signup" class="form-label">Username</label>
        <input type="input" class="form-control" id="username-signup">
        <div id="usernameHelp" class="form-text">This is what will show up on your blog posts.</div>
      </div>
      <div class="mb-3">
        <label for="email-signup" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email-signup" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="password-signup" class="form-label">Password</label>
        <input type="password" class="form-control" id="password-signup">
        <div id="passwordHelpBlock" class="form-text">
          Your password must be 8 characters long.
        </div>
      </div>
      <button id="signup-btn" class="btn btn-primary" method="post">Sign up</button>
    </form>
  </div>
</div>
<script src="../public/js/login.js"></script>