<!-- Login & Sign up Page -->
<div class="container-fluid text-center">
  <div class="row align-items-center justify-contents-center">
    <!-- Login Form-->
    <div class="col">
      <h2>Login</h2>
      <form class="login-form">
        <label for="email-login">Email:</label>
        <input type="text" id="email-login" name="email-login"><br><br>
        <label for="password-login">Password:</label>
        <input type="text" id="password-login" name="password-login"><br><br>
        <button class="login-btn" type="submit">Login</button>
      </form>
      <!-- Sign up Form -->
      <div class="col">
        <h2>Sign up</h2>
        <form class="login-form">
          <label for="username-signup">Username:</label>
          <input type="text" id="username-signup" name="username-signup"><br><br>
          <label for="email-signup">Email:</label>
          <input type="text" id="email-signup" name="email-signup"><br><br>
          <label for="password-signup">Password</label>
          <input type="text" id="password-signup" name="password-signup"><br><br>
          <button class="login-btn" type="submit">Login</button>
        </form>
      </div>
    </div>
  </div>