  <!-- Welcome Page -->
  <div class="container-fluid text-center">
    <div class="row align-items-center">
      <div class="col"> 
        <h1>Welcome</h1>
        <p>Welcome to the Programming Blog,
          a place to ruminate about the latest tech, relish in other's successes,
          and revel in the awesomeness that is programming and design!</p>
      </div>
    </div>
  </div>