/* Header and nav bar */
header {
  margin-top: 0.8em;
  width: 100%;
}

#programming-blog {
  display: inline;
  font-size: 1.5em;
  position: relative;
  left: 1em;
}

#header-welcome {
  font-size: 1.25em;
  position: relative;
  left: 3.5em;
  margin-bottom: 0%;
}

nav, 
ul {
  display: inline;
  float: right;
}

li {
  display: inline;
  list-style: none;
  padding: 1em;
}

/* Styling different pages */

/* Row take up entire screen*/
/* .row {
  height: 95vh;
} */